@import url(reset.css);

body {
    font-size: 16px;
    font-family: 'Helvetica', 'Inter', sans-serif;
}

.wrapper {
    max-width: 1280px;
    padding: 1em;
    border: 1px solid red;
}

header {
    max-width: 1252px;
    max-height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
/* Portrait Columns Start */
.hero {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 724px;
}

.col-1 {
    background-image: url(../images/hero-faces-1.jpg);
    background-size: cover;
    background-position: center;
}

.col-2 {
    background-image: url(../images/hero-faces-2.jpg);
    background-size: cover;
    background-position: center;
}

.col-3 {
    background-image: url(../images/hero-faces-3.jpg);
    background-size: cover;
    background-position: center;
}

.col-4 {
    background-image: url(../images/hero-faces-4.jpg);
    background-size: cover;
    background-position: center;
}
/* Portrait Columns End */

/* Header H1 Text Start*/
.slogan {
    color: white;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    justify-self: center;
    align-self: end;
}

.slogan h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12em;
    line-height: 75%;
    /* margin-top: -1rem; */
}

.slogan h1 span {
    color: blue;
}
/* Header H1 Text End*/