@import url(reset.css);

body {
    font-size: 16px;
    font-family: 'Helvetica', 'Inter', sans-serif;
}

.wrapper {
    max-width: 610px;
    padding: 1em;
    margin: 0 auto;
}

header {
    max-width: 578px;
    max-height: 724px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/* Portrait Columns Start */
.hero {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 724px; /* Check Mobile Size */
}

.col-1 {
    background-image: url(../images/hero-faces-1.jpg);
    background-size: cover;
    background-position: center;
}   

.col-2 {
    background-image: url(../images/hero-faces-2.jpg);
    background-size: cover;
    background-position: center;
}

.col-3 {
    background-image: url(../images/hero-faces-3.jpg);
    background-size: cover;
    background-position: center;
}

.col-4 {
    background-image: url(../images/hero-faces-4.jpg);
    background-size: cover;
    background-position: center;
}
/* Portrait Columns End */

/* Header H1 Text Start*/
.slogan {
    color: #fff;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    place-self: center;
}

.slogan h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4em;
    line-height: 75%;
    margin-top: -.48em;
}

.slogan h1 span {
    color: #0076B4;
}

/* Header H1 Text End*/


/* Media Queries */

@media (min-width: 428px) {
    .slogan h1 {
        font-size: 4.4em;
    }
}

@media (min-width: 609px) {
    .slogan h1 {
        font-size: 5.6em;
    }
}

@media (min-width: 820px) {
    
    .wrapper {
        max-width: 1280px;
    }
    
    header {
        max-width: 1252px;
        max-height: 800px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    /* Portrait Columns Start */
    .hero {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        height: 724px;
    }

    .blue-overlay,
    .green-overlay,
    .yellow-overlay,
    .light-green-overlay {
        width: 100%;
        height: 724px;
    }
    
    .blue-overlay {
        background-color: rgba(0, 116, 184, .5);
    }
    .green-overlay {
        background-color: rgba(0, 173, 98, .5);
    }
    .yellow-overlay {
        background-color: rgba(255, 255, 0, .5);
    }
    .light-green-overlay {
        background-color: rgba(142, 198, 80, .5);
    }
    /* Portrait Columns End */
    
    /* Header H1 Text Start*/
    .slogan {
        grid-row: 2 / 4;
        justify-self: center;
        align-self: end;
    }
    
    .slogan h1 {
        font-size: 10em;
        line-height: 75%;
    }
    
    .slogan h1 span {
        color: #0076B4;
    }
    /* Header H1 Text End*/
}

@media (min-width: 1024px) {
    .slogan h1 {
        font-size: 12em;
    }

}